/* --------------------------------------------- global preferences -------------------- */

:root {
  --primary-text-color: #757575;
  --text-title-color: #212121;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --secong-bgc: #f5f4fa;
  --footer-bgc: #2f303a;
  --bgc-button-color: #2196f3;
  --text-button-color: #ffffff;
}

body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-weight: normal;

  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03rem;
  color: var(--primary-text-color);
}

/* --------------------------------------------- common classes----------------------- */
.list {
  list-style: none;
}

.container {
}

.section {
  color: var(--primary-text-color);
}

.section-title {
  color: var(--text-title-color);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03rem;
}

/* ____________________________________________  studio  ____________________________ */

/* --------------------------------------------- header ------------------------------- */

/* ----------------logo------------------------- */
.logo {
  color: #2196f3;
  font-family: Raleway, cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03rem;
  text-decoration: none;
}

.logo-studio {
  color: var(--text-title-color);
}
/* ----------------nav and contact us--------------------------- */

.header-text-style {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02rem;
  text-decoration: none;
}

.nav-style {
  color: var(--text-title-color);
}

.active-page {
  color: var(--accent-color);
}

.us {
  color: var(--primary-text-color);
}

.nav-style:hover,
.nav-style:focus,
.us:hover,
.us:focus,
.footer-us:hover,
.footer-us:focus {
  color: var(--accent-color);
}

/* --------------------------------------------- main --------------------------------- */

/*  ---------------hero--------------------------- */
.hero {
  text-align: center;
}

.hero-title {
  width: 696px;

  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
}

.ref-style {
  font-size: 16px;
  line-height: 1.88;
}
.button-style {
  background-color: var(--bgc-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--text-button-color);
  font-weight: bold;
  letter-spacing: 0.06rem;
  color: #ffffff;
}

/* ----------------features -------------------------- */

.text-style-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  color: var(--text-title-color);
}

.main-text {
  font-size: 14px;
  line-height: 1.71;
}
/* ----------------our-business ----------------------------- */
.section .figure {
  text-align: center;
}

.business-title {
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}
/* ----------------our team ---------------------------- */
.team {
  background-color: var(--secong-bgc);
}
.person {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.job-title {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.name-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19x;
  text-align: center;
  text-transform: none;
}

/*  -------------------------------------------- footer ----------------------------------- */
footer {
  padding-top: 45px;
  background-color: var(--footer-bgc);
  color: #ffffff;
}
.logo-footer {
  padding: 0;
  color: #ffffff;
}
.footer-text-style {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
.footer-title {
  color: #ffffff;
}
.footer-us {
  color: rgba(255, 255, 255, 0.6);
}
.copyright {
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03rem;
  color: rgba(255, 255, 255, 0.4);
}
/* ____________________________________________  portfolio  ______________________________ */
.portfolio-ref {
  background-color: var(--secong-bgc);
  line-height: 1.62;
  text-align: center;
}

.portfolio-ref:hover,
.portfolio-ref:focus {
  background-color: var(--bgc-button-color);
  color: var(--text-button-color);
}

.portfolio-hat {
  color: #ffffff;
}
.portfolio-section {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03rem;
  color: var(--primary-text-color);
}

.portfolio-section-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06rem;
  color: var(--text-title-color);
}
a {
  color: inherit;
}
/* ____________________________________________  end portfolio  ________________ */
