/* --------------------------------------------- global preferences -------------------- */

:root {
  --primary-text-color: #757575;
  --text-title-color: #212121;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --secong-bgc: #f5f4fa;
  --footer-bgc: #2f303a;
  --bgc-button-color: #2196f3;
  --text-button-color: #ffffff;
}

body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03rem;
  color: var(--primary-text-color);
}

/* --------------------------------------------- common classes----------------------- */
.list {
  list-style: none;
}

.section {
  color: var(--primary-text-color);
}

.section-title {
  color: var(--text-title-color);

  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;

  letter-spacing: 0.03rem;
}

a {
  text-decoration: none;
}

/* ----------------logo------------------------- */
.logo {
  color: #2196f3;
  font-family: Raleway, cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03rem;
  text-decoration: none;
}

.logo-right {
  color: var(--text-title-color);
}
.logo-reverse {
  color: #ffffff;
}
/* ----------------nav and contact us--------------------------- */

.header-text-style {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02rem;
}
.header-contact-style {
  color: #2196f3;
  color: var(--accent-color);
}

.site-nav li {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02rem;
}

.nav-style {
  color: var(--text-title-color);
}

.us {
  color: var(--primary-text-color);
}

.nav-style:hover,
.nav-style:focus,
.us:hover,
.us:focus,
.footer-us:hover,
.footer-us:focus,
.current {
  color: var(--accent-color);
}

/* --------------------------------------------- main --------------------------------- */

/*  ---------------hero--------------------------- */

.hero-title {
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06rem;
  text-transform: uppercase;
}

.ref-style {
  font-size: 16px;
  line-height: 1.88;
}
.button-style {
  background-color: var(--bgc-button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--text-button-color);
  font-weight: bold;
  letter-spacing: 0.06rem;
  color: #ffffff;
}

/* ----------------features -------------------------- */

.text-style-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
  color: var(--text-title-color);
}

.main-text {
  font-size: 14px;
  line-height: 1.71;
}
/* ----------------our-business ----------------------------- */

.business-title {
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}
/* ----------------our team ---------------------------- */
.team {
  background-color: var(--secong-bgc);
}
.person {
  background-color: #fff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.job-title {
  font-size: 16px;
  line-height: 1.19;
}

.name-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19x;

  text-transform: none;
}

/* -------------------------clients---------------------------------------------- */

/*  -------------------------------------------- footer ----------------------------------- */
footer {
  background-color: var(--footer-bgc);
  color: #ffffff;
}

.logo-footer {
  color: #ffffff;
}
.footer-text-style {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
.footer-title {
  color: #ffffff;
}
.footer-us {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.copyright {
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03rem;
  color: rgba(255, 255, 255, 0.4);
}
/* ____________________________________________  portfolio  ______________________________ */

.portfolio-section {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03rem;
  color: var(--primary-text-color);
}

.section-hat {
  font-size: 0px;
}

.section-text-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06rem;
  text-transform: none;
}

.section-a {
  color: inherit;
  text-decoration: none;
}

.section-p {
  font-size: 16px;
  line-height: 1.87;
}

.text-item {
  font-size: 18px;
  line-height: 1.56;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
}

.ref {
  background-color: var(--secong-bgc);
  line-height: 1.62;
  text-align: center;
}

.ref:hover,
.ref:focus {
  background-color: var(--bgc-button-color);
  color: var(--text-button-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}
